.container {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}

@media (max-width: 900px) {
    nav .container .logo img {
        padding-left: 20px;
    }

    nav .container .menu {
        padding-right: 20px;
    }

    header .container .content {
        grid-template-columns: 1fr 1fr;
        padding: 0 20px 20px 20px;
        text-align: center;
    } header .container .content h1 {
        line-height: 50px;
        padding-top: 20px;
        padding-bottom: 16px;
    }

    #ideias .cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 0 20px;
    } #ideias .card {
        width: calc(100% - 40px);
    }

    #ideias .container .video iframe {
        height: 400px;
        width: 100%;
        padding-bottom: 30px;
    }

    .contato {
        padding-right: 20px;
    }
} 

@media (max-width: 720px) {
    #ideias .cards {
        grid-template-columns: 1fr 1fr;
        margin: 0 20px;
    }

    #ideias .container .video iframe {
        height: 400px;
    }
}

@media (max-width: 620px) {
    header .container .content {
        grid-template-columns: 1fr;
        padding: 20px 20px;
        text-align: justify;
    }

    .logo {
        padding-left: 20px;
    }

    #ideias .cards {
        grid-template-columns: 1fr 1fr;
        margin: 0 20px;
    }

    #frase {
        min-height: 340px;
    }

    #frase .container {
        padding: 20px;
    }

    #frase .container h1 {
        display: block;
        max-width: 900px;
    }

    #partido .container {
        padding: 0 20px;
        text-align: center;
    }

    #partido .container h1 {
        padding-bottom: 30px;
    }

    #partido .container .grid {
        grid-template-columns: 1fr;
    }

    .logopartido {
        display: none;
    }

    footer .container .logo {
        display: none;
    }

    footer .container .contato {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    header .container .content .texto {
        text-align: center;
    }

    header .container .content .texto h1 {
        line-height: 45px;
        padding-bottom: 10px;
    }

    header .container .content .texto p {
        font-size: 16px;
    }

    header .container .content .me {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
    }

    .menu {
        display: none;
    } .hamburger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 32px;
        
        
    } nav .container ul li:hover{
        border-bottom: none!important;
    } .hamburger ul li i {
        font-size: 60px;
    }

    .contato {
        padding-right: 0;
    }

    .menuover {
        width: 100%;
        height: 100%;
        background-color: rgb(255,255,255,1);
        z-index: -1001;
        position: fixed;
        top: 0;
        opacity: 0;
        display: block;
    }

    #ideias .container .video iframe {
        height: 300px;
    }

    .closemenu {
        position: fixed;
        top: 35px;
        right: 30px;
        
    } .closemenu i {
        display: inline-block;
        font-size: 35px;
        color: black;
    } .menuover ul {
        text-decoration: none;
        list-style: none;
        margin-top: 100px;
        margin-left: calc(50% - 100px);
        display: block;
        width: 200px;
        font-weight: bold;
        text-align: center;
        
    } .menuover ul li i {
        height: 40px;
        display: inline-block;
        padding: 10px 8px;
    } .menuover ul li {
        padding: 5px 0px;
        font-size: 30px;
    } .menuover ul li a {
        text-decoration: none;
        color: black;
    } .menuover.active {
        opacity: 1;
        z-index: 1001;
        transition: 300ms;
        display: block;
    } 
}

@media (max-width: 480px) {
    #ideias .cards {
        grid-template-columns: 1fr;
        margin: 0 20px;
    }

    #ideias .container .video iframe {
        height: 400px;
    }

    #frase .container img {
        display: none;
    }
}

